*
{
	padding: 0; margin: 0;

}

header
{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url('Images/punjab2.jpg');
	background-size: 100% 100%;
}


nav
{
	width: 100%;
	height: 15vh;
	background-color: rgba(0,0,0,0.1);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;

}


nav .logo
{
	width: 25%; 
	text-align: center;
}

nav .menu
{
	width: 40%;
	text-align: center;
	display: flex;
	justify-content: space-around;

}

nav .menu a
{
	color: white;
	width: 25%;
	text-decoration: none;
}


main
{
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:  center;
	color: white;
}


 section
{

}

section h3
{
	font-size: 30px;
	font-weight: 200;
	text-shadow: 1px 1px 2px black;

}


section  h1
{
	font-size: 55px;
	font-weight: 300;
	text-shadow: 2px 2px 5px black;
	text-transform: uppercase;
	margin: 30px 0 20px 0;
}
section p
{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
}

section a
{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: none;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
}

section .btnone
{
	background:#ffff;
	color : black; 
}

section .btntwo
{
	background: #00b894;
	color:  white;
}

.change:after
{
	content: " ";
	animation-name:  change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	color:  #00b894;
}


@keyframes change 
{
	0%{content: "Faisalabad";}
	20%{content: "Lahore";}
	40%{content: "Islamabad";}
	60%{content: "Multan";}
	80%{content: "Rawalpindi";}
	100%{content: "Sakhar";}
}

.btnone:hover
{
	background: #00b894;
	color:  white;
}
.btntwo:hover
{
	background:#ffff;
	color : black; 
}



